
    <!-- clients Grid Section -->
    <section id="clients">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                  <div class="row">
                  <div class="col-lg-12 text-center">
                    <h2>Clients</h2>
                    <hr class="star-primary">
                  </div>
                  </div
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img src="img/clients/ggate.png" class="img-responsive center-block" alt="hi">
                                <h5>
                                    <strong>Metropolitan Transportation Commission</strong>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img src="img/clients/sutro.png" class="img-responsive center-block" alt="hi">
                                <h5>
                                    <strong>San Francisco County Transportation Authority</strong>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img src="img/clients/ohio.png" class="img-responsive center-block" alt="hi">
                                <h5>
                                    <strong>Ohio DOT</strong>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img src="img/clients/space-needle.png" class="img-responsive center-block" alt="hi">
                                <h5>
                                    <strong>Sound Transit</strong>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img src="img/clients/smith.png" class="img-responsive center-block" alt="hi">
                                <h5>
                                    <strong>Oregon DOT</strong>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img src="img/clients/sandiego.png" class="img-responsive center-block" alt="hi">
                                    <h5><strong>San Diego Association of Governments</strong></h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            </div>
        </div>
    </section>
