
    <!-- clients Grid Section -->
    <section id="clients">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                  <div class="row">
                  <div class="col-lg-12 text-center">
                    <h2>Clients</h2>
                    <hr class="star-primary">
                  </div>
                  </div
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img src="img/clients/ggate.png" class="img-responsive center-block" alt="hi">
                                <h5>
                                    <strong>Metropolitan Transportation Commission</strong>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img src="img/clients/sutro.png" class="img-responsive center-block" alt="hi">
                                <h5>
                                    <strong>San Francisco County Transportation Authority</strong>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img src="img/clients/ohio.png" class="img-responsive center-block" alt="hi">
                                <h5>
                                    <strong>Ohio DOT</strong>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img src="img/clients/space-needle.png" class="img-responsive center-block" alt="hi">
                                <h5>
                                    <strong>Sound Transit</strong>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <img src="img/clients/smith.png" class="img-responsive center-block" alt="hi">
                                <h5>
                                    <strong>Oregon DOT</strong>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            
                            <div class="service-item">
                            <a href="http://calitp.org">
                                <img src="img/clients/catransit.png" class="img-responsive center-block" alt="hi"></a>
                                <h5><strong>California Integrated Travel Project (Cal-ITP)</strong></h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <div class="row">
                         <div class="col-md-4 col-sm-6">
                            
                            <div class="service-item">
                            <a href="https://github.com/wsp-sag/network_wrangler">
                                <img src="img/clients/msp.png" class="img-responsive center-block" alt="hi"></a>
                                <h5><strong>Metropolitan Council</strong></h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                           
                            <div class="service-item">
                             <a href="https://apps.trb.org/cmsfeed/TRBNetProjectDisplay.asp?ProjectID=4186">
                                <img src="img/clients/washington.png" class="img-responsive center-block" alt="hi"></a>
                                <h5><strong>National Cooperative Highway Research Program (NCHRP)</strong></h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                             <a href="https://dot.ca.gov/">
                                <img src="img/clients/sacramento.png" class="img-responsive center-block" alt="hi"></a>
                                <h5><strong>Caltrans</strong></h5>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                             <a href="https://www.apta.com/">
                                <img src="img/clients/metrotransit.png" class="img-responsive center-block" alt="hi"></a>
                                <h5><strong>American Public Transportation Association</strong></h5>
                            </div>
                        </div>
                    
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                         <a href="https://calact.org/">
                            <img src="img/clients/bigsur.png" class="img-responsive center-block" alt="hi"></a>
                            <h5><strong>California Association for Coordinated Transportation</strong></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                         <a href="https://www.ucdavis.edu/">
                            <img src="img/clients/highways.png" class="img-responsive center-block" alt="hi"></a>
                            <h5><strong>University of California Davis</strong></h5>
                        </div>
                    </div>

                </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            </div>
        </div>
    </section>
