    <!-- Services -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Services</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">

                    <div class="col-sm-4 services-item">
                            <div class="caption">
                                <div class="caption-content">
                                    <h4>Technical Strategic<br> Planning</h4>
                                </div>
                            </div>
                            <img src="img/services/fencegobble.jpg" class="img-responsive" alt="hi">
                    </div>
                    <div class="col-sm-4 services-item">
                            <div class="caption">
                                <div class="caption-content">
                                    <h4>Development of Technical<br>Backing for Policy</h4>
                                </div>
                            </div>
                            <img src="img/services/lonebike.jpg" class="img-responsive" alt="hi">
                    </div>
                    <div class="col-sm-4 services-item">
                            <div class="caption">
                                <div class="caption-content">
                                    <h4>Technical Evaluation<br>and Guidance</h4>
                                </div>
                            </div>
                            <img src="img/services/wall-vines.jpg" class="img-responsive" alt="hi">
                    </div>
            </div>
        </div>
    </section>